<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Bootstrap core CSS-->
    <link rel="stylesheet" href="/www/lib/node_modules/bootstrap/compile/bootstrap.css">
    
</head>
<body class="text-center">
    
    <h1>Hello World!!!</h1>
    <!--Bootstrap core Js-->
    <script src="/www/lib/node_modules/jquery/dist/jquery.js"></script>
    <script src="/www/lib/node_modules/popper.js/dist/popper.js"></script>
    <script src="/www/lib/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>