<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery de bebidas - Disk Água</title>

    <!--Bootstrap core CSS-->
    <link rel="stylesheet" href="/www/lib/node_modules/bootstrap/compile/bootstrap.css">
    <link rel="stylesheet" href="/www/lib/node_modules/bootstrap/compile/index.css">
    
</head>
<body class="text-center">
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <a class="navbar-brand h1" href="#">Disk Água</a>

            <div class="collapse navbar-collapse" id="NavbarSite">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Cliente</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Vendedor</a>
                    </li>
                
                </ul>

                <ul class="navbar-nav ml-auto">

                    <li class="nav-link">
                        <a class="btn btn-secondary" href="/www/templates/html/sign-in.html">Entrar</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <div class="position-relative overflow-hidden text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Pediu.Tá na mão.</h1>
            <p class="lead font-weight-normal">Descubra depositos de bebidas pertos de você</p>
            <a class="btn btn-outline-secondary" href="#">Peça agora</a>
        </div>
      </div>

    <div class="container mt-3">
    
            <div class="row">
                <div class="col text-center my-5 mr-5">
                    <img class="d-block mx-auto mb-4" src="/www/img/shop.svg" alt="" width="96" height="96">
                    <h1 class="h2 font-weight-normal mb-4">Conecte-se a mais de 2 mil lojas.</h1>
                    <p>Seja uma cerveja gelada no churrasco do domingo a um bom vinho tinto em um jantar romântico. Tudo em um só lugar</p>
                    <a class="btn btn-outline-secondary" href="/www/templates/html/client-registration.html">Seja um cliente</a>
                </div>
                <div class="col text-center my-5 ml-5">
                    <img class="d-block mx-auto mb-4" src="/www/img/gift.svg" alt="" width="96" height="96">
                    <h1 class="h2 font-weight-normal mb-4"> Impulsione as suas vendas</h1>
                    <p>Conecte sua loja e seus produtos a mais de 50 mil usuários e turbine de vez suas vendas.</p>
                    <a class="btn btn-outline-secondary" href="/www/templates/html/salesman/salesman-registration.html">Seja um vendendor</a>
                </div>
            </div>

    </div>




    <!--Bootstrap core Js-->
    <script src="/www/lib/node_modules/jquery/dist/jquery.js"></script>
    <script src="/www/lib/node_modules/popper.js/dist/popper.js"></script>
    <script src="/www/lib/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>