<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery de bebidas - Disk Água</title>

    <!--Bootstrap core CSS-->
    <link rel="stylesheet" href="/www/lib/node_modules/bootstrap/compile/bootstrap.css">
    <link rel="stylesheet" href="/www/lib/node_modules/bootstrap/compile/sign-in.css">
</head>
<body class="text-center">

    <form class="form-signin">
        <a href="/www/templates/html/index.html"><img class="mb-4" src="/www/img/woman.svg" alt="" width="120" height="120"></a>
        <h1 class="display-4">Entrar</h1>
        <p class="lead mb-5">Insira o e-mail e senha para entrar.</p>
        <label for="inputEmail" class="sr-only">CPF</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de email" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Lembrar
          </label>
        </div>
        <button id="login-button" class="btn btn-lg btn-primary btn-block">Entrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
      </form>


    </div>


    <!--Bootstrap core Js-->
    <script src="/www/lib/node_modules/jquery/dist/jquery.js"></script>
    <script src="/www/lib/node_modules/popper.js/dist/popper.js"></script>
    <script src="/www/lib/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/www/templates/js/client/client-login.js"></script>
</body>
</html>